Repository haru52/base_template_ja: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, yamllint --strict, shellcheck, actionlint

.lintstagedrc.yml:

---
"*":
  - secretlint
  - prettier --check
"*.{md,markdown}": markdownlint
"*.{yml,yaml}": yamllint --strict
"*.sh": shellcheck
".husky/*": shellcheck
".github/workflows/*.{yml,yaml}": actionlint

feat(chore): .gitignore を更新
  .gitignore
Due: secretlint, prettier --check

chore(release): 6.11.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  9c3d6e8e99b794f36a0a2f39bb181344b09b0bcb
Due: secretlint, prettier --check

chore!: prh-rules/ ディレクトリを削除
  prh-rules/languages/ja/typo.yml
  prh-rules/media/techbooster.yml
  prh-rules/terms/review.yml
  prh-rules/terms/software.yml
  prh-rules/terms/trademark.yml
Due: secretlint, prettier --check, yamllint --strict

feat(chore): git submodule として prh-rules/ を追加
  .gitmodules
Due: secretlint, prettier --check

feat(chore): prh-rules を ignore 設定に追加
  .markdownlintignore
  .prettierignore
  .yamllint.yml
Due: secretlint, prettier --check, yamllint --strict

feat(ci): git submodule もクローンするようにワークフローを更新
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
Due: secretlint, prettier --check, yamllint --strict, actionlint

feat(docs): コントリビューティングガイドラインを更新
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint

chore(release): 7.0.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  b29809f5228c9d31d0840002407c36c61c053ebd
Due: secretlint, prettier --check

feat(chore): prh.yml を更新
  prh.yml
Due: secretlint, prettier --check, yamllint --strict

chore(release): 7.1.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  9392734094c3f8b2f403baf56a80e238fa2eb25f
Due: secretlint, prettier --check

feat(docs): readme を更新
  README.md
Due: secretlint, prettier --check, markdownlint

feat(chore): yarn でも動作するように npm run-scripts を修正
  package.json
Due: secretlint, prettier --check

chore(release): 7.2.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  1e3799eff75c4c39c2eeb16d49fc87f324579901
Due: secretlint, prettier --check

feat(chore): make dev-install コマンド内部で Git サブモジュールを再帰的に pull するよう変更
  Makefile
Due: secretlint, prettier --check

chore(release): 7.3.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  69f5493afa41577eb2695c9922c1a82e057c1466
Due: secretlint, prettier --check

chore(release): 7.4.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  ea6037667a1bb715edfa411ade27f8f454ba3a5f
Due: secretlint, prettier --check

chore(release): 7.5.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  7522e045b7a8d63e50deaae2025fac9d3781f2bf
Due: secretlint, prettier --check

feat(chore): node.js と npm のバージョンを更新
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(chore): npm パッケージを更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(ci): github actions を更新
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
Due: secretlint, prettier --check, yamllint --strict, actionlint

feat(chore): node.js のバージョン指定を .node-version から .tool-versions に変更
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
  .node-version
  .tool-versions
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, yamllint --strict, actionlint

feat(chore): actionlint のバージョンを更新
  .tool-versions
Due: secretlint, prettier --check

chore(release): 7.6.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  b2095610e791ede0537ca83a82996cfd4ddb90da
Due: secretlint, prettier --check

Notes added by 'git notes add'
  9c975afb6c64e00a8106f20aad002823cbf9ee2c
Due: secretlint, prettier --check

chore(release): 7.7.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

feat(docs): コントリビューター行動規範を更新（v2.0 → v2.1）
  docs/CODE_OF_CONDUCT.md
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  88b329fe50c27a7c84793e83fe68083ccfada331
Due: secretlint, prettier --check

chore(release): 7.8.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint
