Repository haru52/base_template_ja: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier -c, markdownlint, shellcheck, actionlint

.lintstagedrc.yml:

---
"*":
  - secretlint
  - prettier -c
"*.{md,markdown}": markdownlint
"{*.sh,.husky/*}": shellcheck
".github/workflows/*.{yml,yaml}": actionlint

feat(ci): testジョブをlintジョブにリネーム
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat(chore): .markdownlintignoreを更新
  .markdownlintignore
Due: secretlint, prettier -c

feat(chore): yamllintを導入
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
  .prettierignore
  .yamllint.yml
  Makefile
  README.md
Due: secretlint, prettier -c, markdownlint, actionlint

fix(style): yamllintのエラーと警告を修正
  .github/workflows/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .lintstagedrc.yml
  .markdownlint.yml
  .releaserc.yml
Due: secretlint, prettier -c, actionlint

feat(ci): reviewdogジョブのactionlintステップにおけるreporterをgithub-pr-reviewに変更
  .github/workflows/reviewdog.yml
Due: secretlint, prettier -c, actionlint

feat(docs): ドキュメントを更新
  CONTRIBUTING.md
  README.md
Due: secretlint, prettier -c, markdownlint

feat(ci): semantic-pull-requestを導入
  .github/workflows/lint-pr-title.yml
  CONTRIBUTING.md
  README.md
Due: secretlint, prettier -c, markdownlint, actionlint

feat(build): npm依存パッケージを更新
  package-lock.json
Due: secretlint, prettier -c

feat(chore): textlintのルールで、全角文字と半角文字の間にスペースを入れることを許容するように変更（入れなくても良い）
  .textlintrc.yml
Due: secretlint, prettier -c

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint

Notes added by 'git notes add'
  d21075ec04751f85de1012e7515ea835b1dc5bd2
Due: secretlint, prettier -c

feat(chore): 全角文字と半角文字の間に半角スペースを挿入
  .github/ISSUE_TEMPLATE/general-issue-beta.yml
  .github/ISSUE_TEMPLATE/general-issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/dependabot.yml
  .husky/pre-commit
  .prettierignore
  CONTRIBUTING.md
  README.md
Due: secretlint, prettier -c, markdownlint, shellcheck, actionlint

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint

Notes added by 'git notes add'
  e5f7dccfb33a3361ca42e4aa6c87d7547a019804
Due: secretlint, prettier -c

feat(ci): dependabot によるコミットの場合、CI での commitlint の実行をスキップするように変更
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint

Notes added by 'git notes add'
  0804dff99fb4ae181af7961c75846906f42aff8a
Due: secretlint, prettier -c

feat(chore): 省略形のオプション名ではなく記述的なオプション名を使うように変更
  .lintstagedrc.yml
Due: secretlint, prettier -c

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint

Notes added by 'git notes add'
  d6bdecd4b08458fba98ae14d0a77670335d5ae53
Due: secretlint, prettier -c

feat(chore): 依存 npm パッケージ更新
  package-lock.json
  package.json
Due: secretlint, prettier -c

feat(chore): makefile の .PHONY の記述をまとめる
  Makefile
Due: secretlint, prettier -c

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint

Notes added by 'git notes add'
  92afe590137829fa96aae15dc573acc1fdcab4f3
Due: secretlint, prettier -c

feat(chore): makefile の lint タスクを簡潔になるよう変更
  Makefile
Due: secretlint, prettier -c

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint

Notes added by 'git notes add'
  d125b66f0242af20b9cd1527582e8103a26621ee
Due: secretlint, prettier -c

feat(ci): github actions のバージョン指定方法を変更
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat(build): 依存 npm パッケージ更新
  package-lock.json
  package.json
Due: secretlint, prettier -c

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint

Notes added by 'git notes add'
  2465ce67c539e0d2ca40a47d31c8ce7cfafd8628
Due: secretlint, prettier -c

feat(ci): 不要な括弧（`${{ 条件 }}`）を削除
  .github/workflows/release.yml
Due: secretlint, prettier -c, actionlint

feat(docs): コントリビューティングガイドラインを更新
  CONTRIBUTING.md
Due: secretlint, prettier -c, markdownlint

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier -c, markdownlint

Notes added by 'git notes add'
  424bf5e3304b5bbeeeb88e2fef8334e9aed52b3d
Due: secretlint, prettier -c

build(npm): update dependencies
  package-lock.json
  package.json
Due: secretlint, prettier -c

feat(build): node.js を16.15.1 から 16.16.0 に更新
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier -c

feat(build): actionlint を 1.6.13 から 1.6.15 に更新
  .tool-versions
Due: secretlint, prettier -c

feat(chore)!: make install を make dev-install にリネーム
  Makefile
Due: secretlint, prettier -c
