Repository haru52/base_template_ja: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-yaml, shellcheck, actionlint

fix(chore): lint-staged で全ての `*.sh` に対して lint を実行するように修正
  .lintstagedrc.yml
Due: secretlint, prettier --check, make lint-yaml

feat(chore)!: 非推奨になった VS Code 拡張機能の `eg2.vscode-npm-script` をプロジェクトの推奨リストから除外
  .vscode/extensions.json
Due: secretlint, prettier --check

feat(build): 依存 npm パッケージを更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(docs): コントリビューティングガイドラインを更新
  CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  3838a3f1f6ca1f1c7569078636be2c68c5f92741
Due: secretlint, prettier --check

feat(docs): readme を更新
  README.md
Due: secretlint, prettier --check, markdownlint

feat(build): npm 依存パッケージのバージョン指定方法を変更（修正）
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  da8cfe19d4bf26bf52c9390bda2af78be6f729a2
Due: secretlint, prettier --check

feat(build): npm パッケージを更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(docs): readme の「バージョニング」という見出しを「バージョニングポリシー」に変更
  README.md
Due: secretlint, prettier --check, markdownlint

feat(docs): コントリビューティングガイドラインの動作要件の表を更新
  CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  b9b46525d559e5135aae1268130c894b88b219b9
Due: secretlint, prettier --check

feat(chore)!: `make lint-yaml` を `make lint-yml` に変更
  Makefile
Due: secretlint, prettier --check

feat(build): package-lock.json を更新
  package-lock.json
Due: secretlint, prettier --check

Notes added by 'git notes add'
  4fc1ee0eabf8dc0b0b23b18d2f6d012dd5a9fbcd
Due: secretlint, prettier --check

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

fix: .lintstagedrc.yml のバグを修正
  .lintstagedrc.yml
Due: secretlint, prettier --check, make lint-yaml

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  aa69fa3721a7445766f5fc76d8f9a4514a35bba5
Due: secretlint, prettier --check

build(node): node.js のバージョンを更新
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

build(npm): 依存パッケージを更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(Dependabot): dependabot の自動実行インターバルを週一に変更
  .github/dependabot.yml
Due: secretlint, prettier --check, make lint-yaml

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  138e542df09390ab0bc7e4508a2f03bd1e33d4df
Due: secretlint, prettier --check

feat(build): actionlint を v1.6.17 に更新
  .tool-versions
Due: secretlint, prettier --check

feat(build): package.json の engines バージョンを変更
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(chore): vs code の推奨拡張機能として arahata.linter-actionlint を追加
  .vscode/extensions.json
Due: secretlint, prettier --check

feat(ci): test ワークフローに、コメントアウト状態の Build、Test ステップを追加
  .github/workflows/test.yml
Due: secretlint, prettier --check, make lint-yaml, actionlint

feat(docs): images/security_overview.png を更新
  images/security_overview.png
Due: secretlint, prettier --check

feat(chore): package.json の author の値を更新
  package.json
Due: secretlint, prettier --check

feat(build): npm 依存パッケージを更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 4.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  6afb68f637bbf191343eb27f5d87e917e64f92aa
Due: secretlint, prettier --check

feat(ci): test.yml のコメントを更新
  .github/workflows/test.yml
Due: secretlint, prettier --check, make lint-yaml, actionlint

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-yaml: any of: *.{yml,yaml}
  shellcheck: any of: {*.sh,.husky/*}
  actionlint: any of: .github/workflows/*.{yml,yaml}
