Repository haru52/base_template_ja: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier -c, markdownlint, shellcheck, actionlint

.lintstagedrc.yml:

---
"*":
  - secretlint
  - prettier -c
"*.{md,markdown}":
  - markdownlint
  # - textlint
"{*.sh,.husky/*}": shellcheck
".github/workflows/*.{yml,yaml}": actionlint

chore: textlintを導入
  .lintstagedrc.yml
  .textlintignore
  .textlintrc.yml
  .vscode/extensions.json
  CONTRIBUTING.md
  SECURITY.md
  package-lock.json
  package.json
  textlintallow.yml
Due: secretlint, prettier -c, markdownlint

ci: tsuyoshicho/action-textlint actionをreviewdog workflowに追加
  .github/workflows/reviewdog.yml
Due: secretlint, prettier -c, actionlint

docs: changelogを削除
  CHANGELOG.md
Due: secretlint, prettier -c, markdownlint

docs: リポジトリ名を修正
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: secretlint, prettier -c, markdownlint

docs: readmeを日本語に翻訳
  README.md
Due: secretlint, prettier -c, markdownlint

docs: contributors.pngを更新
  images/contributors.png
Due: secretlint, prettier -c

docs: readmeを更新
  README.md
Due: secretlint, prettier -c, markdownlint

docs: セキュリティポリシーを日本語に翻訳
  SECURITY.md
Due: secretlint, prettier -c, markdownlint

docs: code of conductを日本語版に変更。同時にバージョンを2.1から2.0にダウングレード
  CODE_OF_CONDUCT.md
  README.md
Due: secretlint, prettier -c, markdownlint

chore: pre-commit周りの処理を更新
  .husky/pre-commit
  .lintstagedrc.yml
Due: secretlint, prettier -c, shellcheck

ci: 冗長な設定を削除
  .github/workflows/dependabot.yml
  .github/workflows/reviewdog.yml
Due: secretlint, prettier -c, actionlint

build: actionlintをv1.6.12からv1.6.13に更新
  .tool-versions
Due: secretlint, prettier -c

chore: .gitignore* を邦訳し更新
  .gitignore
  .gitignore_custom
Due: secretlint, prettier -c

chore: vs codeの推奨拡張機能を追加
  .vscode/extensions.json
Due: secretlint, prettier -c

chore: .textlintrc.ymlを更新
  .textlintrc.yml
Due: secretlint, prettier -c

docs: セキュリティポリシーの文言を更新
  SECURITY.md
Due: secretlint, prettier -c, markdownlint

docs: コントリビューティングガイドラインを邦訳
  CONTRIBUTING.md
Due: secretlint, prettier -c, markdownlint

chore: .prettierignoreを邦訳
  .prettierignore
Due: secretlint, prettier -c

chore: _dependabot.ymlを更新
  .github/_dependabot.yml
Due: secretlint, prettier -c

docs: prテンプレートを更新
  .github/PULL_REQUEST_TEMPLATE.md
Due: secretlint, prettier -c, markdownlint

ci: dependabot.ymlを更新
  .github/workflows/dependabot.yml
Due: secretlint, prettier -c, actionlint

docs: 一般issueテンプレートを邦訳
  .github/ISSUE_TEMPLATE/general-issue-beta.yml
  .github/ISSUE_TEMPLATE/general-issue.md
Due: secretlint, prettier -c, markdownlint

build: npm依存パッケージを更新
  package-lock.json
  package.json
Due: secretlint, prettier -c

build: node.jsとnpmのバージョンを更新
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier -c

ci: yaml中の `on` キーをダブルクォートで囲い、yamllint（当プロジェクトに未導入）の警告を解消
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

ci: github actionsワークフローのnameでは英語を使うことにする
  .github/workflows/dependabot.yml
Due: secretlint, prettier -c, actionlint

ci: release.ymlを邦訳
  .github/workflows/release.yml
Due: secretlint, prettier -c, actionlint

chore: package.jsonのdescriptionを邦訳
  package.json
Due: secretlint, prettier -c

chore: コメントを更新
  .husky/pre-commit
Due: secretlint, prettier -c, shellcheck

chore: extensions.jsonを更新
  .vscode/extensions.json
Due: secretlint, prettier -c

ci: test.ymlを更新
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

docs: 文言を微修正
  .github/ISSUE_TEMPLATE/general-issue-beta.yml
Due: secretlint, prettier -c

chore: .textlintrc.ymlのコメントを微修正
  .textlintrc.yml
Due: secretlint, prettier -c

chore: dependabotを有効化
  .github/dependabot.yml
Due: secretlint, prettier -c

feat: イニシャルバージョンをリリース
  package-lock.json
  package.json
Due: secretlint, prettier -c

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: secretlint, prettier -c, markdownlint

Notes added by 'git notes add'
  43959df621af286b9ae41d52815b5adace5eb202
Due: secretlint, prettier -c
