Repository haru52/base_template_ja: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, yamllint --strict, shellcheck, actionlint

feat(docs): contributor covenant のバッジを更新
  README.md
Due: secretlint, prettier --check, markdownlint

chore(release): 7.9.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  95957700069bb2bfaaa5dddc3598c3ffd6a442e1
Due: secretlint, prettier --check

feat(docs): ドキュメントを更新
  README.md
  docs/CONTRIBUTING.md
  textlintallow.yml
Due: secretlint, prettier --check, markdownlint, yamllint --strict

feat(chore): package.json を更新
  package.json
Due: secretlint, prettier --check

chore(release): 7.10.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  421f77282a6166301e197a17b5454e116ecb4e58
Due: secretlint, prettier --check

feat(chore): .secretlintignore を追加
  .secretlintignore
Due: secretlint, prettier --check

feat(chore)!: shellcheck による lint を廃止
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  .vscode/extensions.json
  Makefile
  README.md
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint, yamllint --strict, shellcheck, actionlint

chore(release): 8.0.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  1894c3ec8ea5610e5a41a9f5c47d992954ca84af
Due: secretlint, prettier --check

feat(chore): npm script を更新
  package.json
Due: secretlint, prettier --check

chore(release): 8.1.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  d28d1cfd85d6cbcd36e071e17c08f84d3219f209
Due: secretlint, prettier --check

feat(docs): readme を更新
  README.md
Due: secretlint, prettier --check, markdownlint

chore(release): 8.2.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  147cfd1c8a9546d39a806b0a5eec6087584a9e4b
Due: secretlint, prettier --check

feat(chore)!: vs code の推奨拡張機能を更新
  .vscode/extensions.json
Due: secretlint, prettier --check

feat(chore): prettierignore に Husky 設定ファイルを追加
  .prettierignore
Due: secretlint, prettier --check

feat(chore): tool-versions を更新
  .tool-versions
Due: secretlint, prettier --check

feat(chore): package.json の engines を更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(chore): prettierignore を更新
  .prettierignore
Due: secretlint, prettier --check

feat(chore): textlintignore を更新
  .textlintignore
Due: secretlint, prettier --check

feat(chore): 依存 npm パッケージのバージョンを更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(chore): gitignore を更新
  .gitignore
Due: secretlint, prettier --check

Notes added by 'git notes add'
  b9747add89b8ceac29090482a972eb43ca204340
Due: secretlint, prettier --check

chore(release): 9.0.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

feat(chore): makefile を .prettierignore に追加
  .prettierignore
Due: secretlint, prettier --check

feat(chore): gitignore を更新
  .gitignore
  .gitignore_custom
Due: secretlint, prettier --check

feat(docs): ai エージェント用設定ファイルとして AGENTS.md と CLAUDE.md を追加
  AGENTS.md
  CLAUDE.md
Due: secretlint, prettier --check, markdownlint

feat(chore): yamllint.yml を更新
  .yamllint.yml
Due: secretlint, prettier --check, yamllint --strict

chore(release): 9.1.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  336af955547364a26bf001283fd0b5535838914b
Due: secretlint, prettier --check

feat(chore): gitignore からメモファイルの指定を削除
  .gitignore
  .gitignore_custom
Due: secretlint, prettier --check

Notes added by 'git notes add'
  39fc206ba1f3fa6d444c2b3ef054543630404bf8
Due: secretlint, prettier --check

chore(release): 9.2.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

feat(docs): コントリビューティングガイドラインを更新
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint

chore(release): 9.3.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  yamllint --strict: any of: *.{yml,yaml}
  shellcheck: (any of: *.sh) or (any of: .husky/*)
  actionlint: any of: .github/workflows/*.{yml,yaml}
