Repository haru52/base_template_ja: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-yml, shellcheck, actionlint

.lintstagedrc.yml:

---
"*":
  - secretlint
  - prettier --check
"*.{md,markdown}": markdownlint
"*.{yml,yaml}": make lint-yml
"*.sh": shellcheck
".husky/*": shellcheck
".github/workflows/*.{yml,yaml}": actionlint

feat(chore): 日本語と英数字の間に半角スペースを挿入
  .textlintrc.yml
  textlintallow.yml
Due: secretlint, prettier --check, make lint-yml

chore(release): 4.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  d8c2a79f60db824e70955fab90a7956b08e83034
Due: secretlint, prettier --check

feat(chore): package.json の engines の値を変更
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 4.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  ddca2537325e04bd1aebd3c3a52e68464961d14b
Due: secretlint, prettier --check

feat(ci): test ワークフローを更新
  .github/workflows/test.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

feat(ci): release ワークフローを更新
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

Notes added by 'git notes add'
  9725f921d2abfcd257ff5bb489d1f8083cfc7b69
Due: secretlint, prettier --check

chore(release): 4.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

chore(release): 4.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  6d961e6f0307af32773017334a358080bb1e8839
Due: secretlint, prettier --check

Notes added by 'git notes add'
  4bc6388e7177c384f893ce9b252bc7fd2aad2860
Due: secretlint, prettier --check

chore(release): 4.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

ci!: release ワークフローから Build ステップを削除
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  0e61fbe895c2f6a1fdbec36dc67810960647cc0c
Due: secretlint, prettier --check

feat(chore): semantic-release プラグインの順序を変更
  .releaserc.yml
Due: secretlint, prettier --check, make lint-yml

chore(release): 5.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  a9711a31e8e55e3e9fde1ba1ed37685a8955cfe8
Due: secretlint, prettier --check

feat(ci): 可読性のために空行を追加
  .github/workflows/release.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

chore(release): 5.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  dea43cff3e78c2d74020a5a8270cd35af4f7deef
Due: secretlint, prettier --check

feat(docs)!: ドキュメントを docs/ ディレクトリに移動
  .markdownlintignore
  .releaserc.yml
  .textlintignore
  README.md
  docs/.keep
  docs/CHANGELOG.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/SECURITY.md
  docs/_config.yml
Due: secretlint, prettier --check, markdownlint, make lint-yml

chore(release): 6.0.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  faf74e3102fdb6f6b49fbab4374bfcfb93fb3210
Due: secretlint, prettier --check

feat(docs): readme とコントリビューティングガイドラインを更新
  README.md
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint

chore(release): 6.1.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  0b2a73004dcd05e155dea943eb530ba745c2db42
Due: secretlint, prettier --check

feat(docs): readme を更新
  README.md
Due: secretlint, prettier --check, markdownlint

chore(release): 6.2.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  03930841e1b3c854ab7b9485b48409865195f802
Due: secretlint, prettier --check

feat(ci): コメント文言を変更
  .github/workflows/test.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

chore(release): 6.3.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  a67cb17f3eff42f5ff74979250d7af163e8c02bc
Due: secretlint, prettier --check

chore(release): 6.3.1 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  b36549622f9461c2af370e45ba924d6ac2fa99e1
Due: secretlint, prettier --check

feat(chore): actionlintのバージョンを更新
  .tool-versions
Due: secretlint, prettier --check
