Repository haru52/base_template_ja: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-yml, shellcheck, actionlint

.lintstagedrc.yml:

---
"*":
  - secretlint
  - prettier --check
"*.{md,markdown}": markdownlint
"*.{yml,yaml}": make lint-yml
"*.sh": shellcheck
".husky/*": shellcheck
".github/workflows/*.{yml,yaml}": actionlint

feat(build): node.jsとnpmのバージョンを更新
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(docs): コントリビューティングガイドラインを更新
  docs/CONTRIBUTING.md
Due: secretlint, prettier --check, markdownlint

feat(build): npm依存パッケージを更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 6.4.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  9898882b2297437b02f16fb69eabc3f8d599d66f
Due: secretlint, prettier --check

feat: .lintstagedrc.yml を改善
  .lintstagedrc.yml
Due: secretlint, prettier --check, make lint-yml

feat(build): node.js と npm のバージョンを更新
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(build): 依存 npm パッケージを更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 6.5.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  6f40f82d82f318c0deb9378d1e50cc33c1927355
Due: secretlint, prettier --check

feat(build): npm のバージョンを更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 6.6.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  00771df20268a69f66baf1a0bb7301b5fdbb01c3
Due: secretlint, prettier --check

chore(release): 6.7.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  704c9e33b91f07e5173b5ac0dd73e278c16512dd
Due: secretlint, prettier --check

feat(docs): readme.md の「利用方法」を更新
  README.md
Due: secretlint, prettier --check, markdownlint

feat(chore): package.json の repository.url から `git+` プレフィックスを除去
  package.json
Due: secretlint, prettier --check

chore(release): 6.8.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  4d8d061c076cd6c3ff1b757f4a8f13d304ddfd17
Due: secretlint, prettier --check

feat(docs): readme を更新
  README.md
  images/community_standards.png
  images/security_overview.png
Due: secretlint, prettier --check, markdownlint

feat(build): node.js と npm を更新
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat(chore): actionlint を更新
  .tool-versions
Due: secretlint, prettier --check

feat(build): npm パッケージを更新
  package-lock.json
  package.json
Due: secretlint, prettier --check

chore(release): 6.9.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  98c61de123f7ed3f8ccc6727725374b43fa2c139
Due: secretlint, prettier --check

feat(chore): husky ファイルを更新
  .husky/commit-msg
  .husky/pre-commit
Due: secretlint, prettier --check, shellcheck

chore(release): 6.10.0 [skip ci]
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: secretlint, prettier --check, markdownlint

Notes added by 'git notes add'
  0327ddd956e6694affd3b6cf23915ab4f8dabd08
Due: secretlint, prettier --check

feat(chore): prh-rules を追加
  prh-rules/languages/ja/typo.yml
  prh-rules/media/techbooster.yml
  prh-rules/terms/review.yml
  prh-rules/terms/software.yml
  prh-rules/terms/trademark.yml
Due: secretlint, prettier --check, make lint-yml

feat(style): prh-rules の YAML ファイルをフォーマット
  prh-rules/languages/ja/typo.yml
  prh-rules/media/techbooster.yml
  prh-rules/terms/review.yml
  prh-rules/terms/software.yml
  prh-rules/terms/trademark.yml
Due: secretlint, prettier --check, make lint-yml

feat(chore): textlint-rule-prh をインストール
  .textlintrc.yml
  package-lock.json
  package.json
  prh.yml
Due: secretlint, prettier --check, make lint-yml

feat(chore): techbooster.yml の「半角括弧を全角括弧に」するルールをコメントアウト
  prh-rules/media/techbooster.yml
Due: secretlint, prettier --check, make lint-yml

feat(docs): prh による検査をパスするようにドキュメントを修正
  docs/CONTRIBUTING.md
  docs/SECURITY.md
Due: secretlint, prettier --check, markdownlint

feat(build): node.js と npm のバージョンを更新
  .node-version
  package.json
Due: secretlint, prettier --check
